SistemaAdocaoApp/__pycache__/*
/apps/pessoa/__pycache__/*
/apps/pessoa/migrations/*
/apps/ong/__pycache__/*
/apps/ong/migrations/*
/apps/animal/__pycache__/*
/apps/animal/migrations/*
/apps/adocao/__pycache__/*
/apps/adocao/migrations/*
/apps/agendamento/__pycache__/*
/apps/agendamento/migrations/*
